
h1, h2, h3, h4{
    color: #50B7D9;
	font-family: Georgia;
}
a{
	color: black;
	text-decoration: none;
}
body{
    font-family: Georgia; 
	width: 100%; 
	margin: 0; 
	background: white;
}
#nav{
	display: inline-block;
	float: left;
	margin-left: 2%;
}
li{
	float:center;
	display: inline;
	background-color: #90C3D4;
	padding-left: 15%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 10%;
	}
li:hover{
	background-color: #2C9ABF;
	}
#nav a{
	padding: 20px;
	color: white;
	}
a:hover{
	color: white;
	}
#content{
	background: white;
	padding: 20px;
	margin-left: 1.5%;
}
#button{
	background-color: #50B7D9;
	color: white;
	border: none;
	padding: 10px;
	margin-top: 10px;
	border-radius: 8px;
}
#button:hover{
	background-color: #2C9ABF;
}
